.blog {
	
	.content-header {
		padding-bottom: 3.7em;		
	}
		
	article {
		margin-bottom: 3.3em;
		
		.left {
			@include breakpoint(medium) {
				padding-right: 0;
			}
		}
		
		.right {
			a:hover {
				text-decoration: underline;
			}
		}
		
	}
		
}

.single-post {
	
	.content {
		padding-top: 3.7em;
		
		.sidebar {
			padding-top: 0.4em;
			
			h3 {
				margin: 0;
				padding-bottom: 1em;				
			}
			
			div {
				padding-bottom: 1.1em;
			}
			
		}
		
		.main {
			
			article {
				
				.entry-content {
					padding-bottom: 3.45em;
				}
				
				footer {
					
					p.tags {
					    padding-top: 0;
					    margin-top: 0.7em;
					    padding-bottom: 5.15em;
					    
					    a {
						    text-decoration: underline;
					    }
					    
					}
					
				}
			}
			
		}
		
	}
	
}