.featured-reviews {
	padding-top: 3em;
	
	@include breakpoint(large) {
		padding-bottom: 3.55em;
	}
	
	@include breakpoint(large) {
		padding-top: 4.5em;
	}
	
	.break {
		margin-bottom: 3.5em;
		
		@include breakpoint(large) {
			margin-bottom: 4.5em;
		}
		
	}
	
	.mark {
		margin-bottom: 1.5em;
	}
	
	h1 {
		margin-bottom: 0;
		padding-bottom: 1.5em;
	}
	
	.single-review {
		margin-bottom: 1.5em;
		
		.copy {
			padding-bottom: 0.6em;
		}
		
		.author {
			padding-bottom: 0.45em;
		}
		
		a.button {
			margin-top: 0.85em;
		}
		
	}
	
}

.featured-blogs {
	padding-top: 3em;
	padding-bottom: 2.55em;
	
	@include breakpoint(large) {
		padding-top: 4.5em;
		padding-bottom: 3.55em;
	}
	
	.break {
		margin-bottom: 3.5em;
		
		@include breakpoint(large) {
			margin-bottom: 4.5em;
		}
	}
	
	h1 {
		margin: 0;
		padding-bottom: 1.4em;
	}
	
	.blog-posts-wrap {
		max-width: 381px;
		margin: auto;
		
		@include breakpoint(large) {
			max-width: none;	
		}
			
		a.single-post {

			display: block;
			margin: 0 auto 1.5em;
			color: $brand-gray;
			
			img {
				margin-bottom: 1.9em;
			}
			
			h3 {
				color: $brand-primary;
			}
			
		}
	
	}
	
}

.directions {
	padding-top: 3em;
	padding-bottom: 3.1em;
	background-color: $brand-gray;
	color: $white;
	
	@include breakpoint(large) {
		padding-top: 4.9em;
	}
	
	.grid-x {
		max-width: 381px;
		margin: auto;
		
		@include breakpoint(large) {
			max-width: none;	
		}
	
		iframe {
			width: 100%;
			margin-top: 1.95em;
			margin-bottom: 1.9em;
		}
		 
		.address {
			.half {
				margin-bottom: 1.5em;
			
				i {
					font-size: rem-calc(30);
					margin-bottom: 0.4em;
				}	
			
			}
			
		}
	
	}
	 
}

footer.footer {
	color: $white;
	background-color: $brand-primary;
	margin: 0;
	padding-top: 3.7em;
	
	#footer-links {
		justify-content: center;
		
		li {
			a {
				padding-top: .32rem;
				padding-bottom: .32rem;
				color: $white;
				
			&:hover {
				text-decoration: underline;
			}
				
			}
		}
	}
	
	.break {
		border-color: $brand-primary-hover;
		margin-top: 1.85em;
		margin-bottom: 1.75em;
	}
	
	.footer-logos-wrap {
		padding-top: 1.4em;
		padding-bottom: 1.85em;
		    
		img {
			margin-bottom: 1.2em;
		}	
	}
	
	.footer-bottom {
		background: #7f7138;	
		
		.grid-x {
			height: 177px;
			align-content: center;
			
			@include breakpoint(mobile) {
				height: 76px;
			}
		}
		
		.inner {
		    justify-content: space-between;
		    
		    .source-org {
			    text-align: center;
			    font-size: rem-calc(15);
			    padding-bottom: 1em;
			    
			    @include breakpoint(mobile) {
				    padding-bottom: 0;
			    }
			    
			    @include breakpoint(large) {
				    font-size: rem-calc(18);
			    }
			    
		    }
		    
		    .social-links {
			    text-align: center;
			    
			    a {
				    color: $white;
				    font-size: rem-calc(30);
				    margin-left: 0.4em;
			    }
		    }
		    
		}
			
	}
	
}