.page-template-page-template-home {
	
	.tab-nav {
		
		.inner {
		border-bottom: 3px solid $brand-primary;
		}
		
		a {
			padding-top: 1.25em;
			padding-bottom: 1.25em;
			display: block;
			text-transform: uppercase;	
			color: $brand-gray;
			font-weight: bold;
			position: relative;
			transition: all 0.25s ease;
			
		&:hover {
			background-color: $brand-primary;
			color: $white;
		}
		
		&:after {
			content: '';
			position: absolute;
			top: auto;
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			width: 100%;
			background-color: $brand-primary;	
			
		@include breakpoint(large) {
			top: 0;
			left: auto;
			right: 0;
			bottom: 0;
			height: 100%;
			width: 1px;
		}
			
		}
		
		&:last-child:after {
			display: none;
		}
			
		}
		
	}
	
	.intro {
		padding-top: 4em;
		
		.break {
			max-width: 300px;
			margin: 2em auto 1.8em;
		}
		
		.logos-wrap {
			padding-bottom: 0.85em;
			
			@include breakpoint(large) {
				padding-top: 2.8em;
			}
			
			.single-logo {
				max-width: 255px;
				margin-bottom: 1.2em;
				
				.logo-wrap {
					height: 145px;
					display: flex;
					justify-content: center;
					margin-bottom: 0.8em;
				}
				
				div {
					font-size: rem-calc(14);
				}
				
			}
		}
		
	}
	
	.about {
		padding-top: 3.7em;
		
		@include breakpoint(large) {
			padding-bottom: 3.55em;
		}
		
		img.about-fw-img {
			display: block;
			margin: auto;
		}
		
		.sidebar {
			margin-bottom: 2em;
			
			@include breakpoint(large) {
				margin-bottom: 0;
			}
			
			img {
				border-radius: 100%;
				display: block;
				margin: 0 auto 1.5em;
				
				@include breakpoint(large) {
					margin: auto;
				}
				
			}
			
		}
		
		.content-wrap {
			padding-top: 4.5em;
			
			.copy-wrap {
		
				.buttons-wrap {
					padding-top: 1.15em;
					justify-content: center;
					
					@include breakpoint(mobile) {
						justify-content: flex-start;
					}
					
				}
		
			}
		}
	}
	
	
}