.page-template-page-template-home {
	
	.tab-nav {
		
		.inner {
		border-bottom: 3px solid $brand-primary;
		}
		
		a {
			padding-top: 1.45em;
			padding-bottom: 1.45em;
			display: block;
			text-transform: uppercase;	
			color: $brand-gray;
			position: relative;
		
		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 1px;
			background-color: $brand-primary;	
		}
		
		&:last-child:after {
			display: none;
		}
			
		}
		
	}
	
	.intro {
		padding-top: 4em;
		
		.break {
			max-width: 300px;
			margin: 2em auto 1.8em;
		}
		
		.logos-wrap {
			padding-top: 2.8em;
			padding-bottom: 0.85em;
			
			.single-logo {
				max-width: 255px;
				margin-bottom: 1.2em;
				
				.logo-wrap {
					height: 145px;
					display: flex;
					justify-content: center;
					margin-bottom: 0.8em;
				}
				
				div {
					font-size: rem-calc(14);
				}
				
			}
		}
		
	}
	
	.about {
		padding-top: 3.7em;
		padding-bottom: 3.55em;
		
		.sidebar {
			margin-bottom: 2em;
		}
		
		.content-wrap {
			padding-top: 4.5em;
			
			.copy-wrap {
		
				.buttons-wrap {
					padding-top: 1.15em;
				}
		
			}
		}
	}
	
	
}