.page-template-page-template-team {
	
	.break {
		width: 100%;
	}
	
	.single-team-member {
		padding-bottom: 2.15em;
		
		img {
			margin-bottom: 2em;
			
			@include breakpoint(medium) {
				margin-bottom: 0;
			}
			
		}
		
	&.teamwork {
		padding-bottom: 0;
	}
		
		.break {
			margin-top: 2.35em;
			margin-bottom: 4.75em;
		}
		
	}
	
}